.logging-container {
    padding: 0 5%;
}

/* .input-in-form {
    margin-top: 30px;
} */

.logging-form {
    margin-top: 25px;
}

.logging-form-buttons {
    margin-top: 20px;
}

.button-forgotten-pwd {
    margin-bottom: 10px;
    /* margin-top:10px; */
}

.forgotPwd {
    margin-bottom: 50px;
    text-align: center;
}

.mailSend {
    padding-bottom: 30px;
    text-align: center;
}


/* div.input-group {
    width: 30%;
} */

/* input#formBasicEmail.form-control {
    width: 30%;
} */