#root {
    /* padding: 20px; */
    /* margin-top: 50px; */
}

.registration-container {
    padding: 0 5%;
}

.x {
    margin-top: 20px;
}



  .button-return {
      margin-top: 20px;
  }

  .registration-form {
    margin-top: 25px;
}