.title-my-tracks {
    width: 80%;
    margin-left: 15%;
    margin-top: 20px;
    font-weight: bolder;
}

.my-tracks {
    width: 70%;
    align-items: center;
    padding-left: 15%;
}

.share-success {
    text-align: center;
    font-weight: 600;
    font-size: 400;

    padding-top: 20px;
    text-transform: uppercase;
}

.my-track-details {
    width: 70%;
    align-items: center;
    padding-left: 30%;
}

.facebook-share-link-button {
    background-color: white;
    border: 0px;
    color: red;
}


.share-fb-mod {
    align-self: center;
    size: 100px;
    text-align: center;
}