@font-face {
    font-family: 'Lato-Thin';
    font-style: thin;
    font-weight: 300;
    src: local('Lato-Thin'), local('Lato Thin'), url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato-Bold';
    font-style: bold;
    font-weight: 700;
    src: local('Lato-Bold'), local('Lato Bold'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato-Regular';
    font-style: bold;
    font-weight: 700;
    src: local('Lato-Regular'), local('Lato Regular'), url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  }