  //FONTS
  $font-lato-thin: 'Lato-Thin';
  $font-lato-regular: 'Lato-Regular';
  $font-lato-bold: 'Lato-Bold';

  //SHADOWS
  $button-shadow-link: 0 .4rem 1rem rgba(black, .6);
  $button-shadow-hover: 0 1rem 2rem rgba(black, .6);
  $button-shadow-active: 0 .5rem 1rem rgba(black, .6);
  $normal-shadow: 0 .4rem 1rem rgba(black, .5);
  $normal-shadow-hover: 0 1rem 2rem rgba(black, .4);

  //COLORS//
  $text-color-light:  rgba(29, 29, 31, 0.692);
  $color-black:  rgba(0, 0, 0, 1);
  $color-white: rgba(252, 252, 252, 1);
  $color-red: rgba(255, 0, 0, 1);
  $color-claret: rgba(142, 18, 18, 1);
  $color-light-grey: rgb(247, 247, 247);

  //GRID
  $grid-vertical-gutter: 8rem;